*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-attachment: fixed;
  background-image: url('./assets/screens/backgroundpage.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.main-title {
  width: 28vw;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e79b0d;
  text-shadow: 1px 2px 2px #000000;
}

.box-exhibition {
  width: 60vw;
  height: 430vh;
  background-color: #ffffff;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 0.7s;
}

.box-exhibition:hover {
  opacity: unset;
}

.box-game {
  width: 55vw;
  height: 68vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.photo-game {
  width: 65%;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000000;
}

.title-photo {
  color: #4b87cc;
  text-shadow: 2px 2px 3px #000000;
}

.text-game, .text-game2 {
  color: #e40a0a;
  text-shadow: 1px 1px 1px #000000;
}

.text-game3 {
  width: 50vw;
  color: #6e6e6e;
  text-shadow: 1px 1px #000000;
}